---
import Layout from "../layouts/Layout.astro";
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Form from "../components/Form.astro";
---

<Layout>
	<article class="min-h-[min(80vh,800px)]">
		<section>
			<h1>We build software to help small business manage their operations online</h1>
			<div class="flex gap-4">
				<a class="button" href="#contact">Let's chat</a>
				<a class="button" href="#scenarios">See how we can help</a>
			</div>
		</section>
		<!-- <LottieAnimation src="./Animation - 1731594218293.json" autoplay="visible" /> -->
	</article>

	<hr class="h-[1px] bg-gray-300" />

	<article id="scenarios">
		<section>
			<h3>Scenarios</h3>
			<h2>See our services in action</h2>
			<p>
				A curated list of scenarios where automation is used to decrease errors, increase profit and make customers
				delighted to create resilient businesses.
			</p>
		</section>
		<LottieAnimation src="./Animation - 1731944285877.json" autoplay="visible" />
	</article>
	<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-28">
		<a class="w-full bg-slate-900 aspect-video text-white flex items-center justify-center" href="/manufacturing"
			>Manufacturing</a
		>
		<a class="w-full bg-slate-900 aspect-video"></a>
		<a class="w-full bg-slate-900 aspect-video"></a>
	</div>

	<hr class="h-[1px] bg-gray-300" />

	<article class="min-h-screen w-full" id="contact">
		<section>
			<h3>Contact us</h3>
			<h2>How can we help?</h2>
		</section>
		<section>
			<Form />
		</section>
	</article>
</Layout>

<script>
	// Smooth scroll anchor links
	document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
		anchor.addEventListener("click", (e) => {
			e.preventDefault();
			const anchorId = anchor.getAttribute("href");
			const anchorLink = document.querySelector(anchorId as string);
			anchorLink?.scrollIntoView({ behavior: "smooth" });
		});
	});
</script>