---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <article>
    <section>
      <h3>Scenario</h3>
      <h1>Jewellery Manufacturing</h1>
      <p>
        Like many transitioning to a <strong>digital workflow</strong>, our client encountered: <strong>lost orders</strong>, job
        processing <strong>errors</strong>, <strong>delays</strong> in progressing orders, <strong>low accountability</strong> on task ownership and sometimes, <strong>customer
        dissatisfaction</strong>.
      </p>
    </section>
  </article>

  <article>
    <section>
      <h3>Scenario</h3>
      <h1>Jewellery Manufacturing</h1>
      <p>
        Like many transitioning to a <strong>digital workflow</strong>, our client encountered: <strong>lost orders</strong>, job
        processing <strong>errors</strong>, <strong>delays</strong> in progressing orders, <strong>low accountability</strong> on task ownership and sometimes, <strong>customer
        dissatisfaction</strong>.
      </p>
    </section>
  </article>
</Layout>
