---
const { text, class: pclass } = Astro.props;
const words = text.split(" ") as string[];
---

<p class=`${pclass ? pclass : ''} split-text-container ${words[0]}`>
  {words.map((word, index) => <span class="opacity-25">{word} </span>)}
</p>
<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  function awaitableGsap(el: HTMLElement) {
    return new Promise((resolve) => {
      gsap.to(el, {
        scrollTrigger: {
          trigger: el,
          start: "top 50%",
          once: true,
          onEnter: () => {
            gsap.to(el.querySelectorAll("span"), { opacity: 1, stagger: 0.06, onComplete: resolve });
          },
        },
      });
    });
  }

  async function initSpltTextAnim() {
    const pElements = document.querySelectorAll(".split-text-container");
    for (let i = 0; i < pElements.length; i++) {
      await awaitableGsap(pElements[i] as HTMLElement);
    }
  }
  initSpltTextAnim();
</script>
