---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full min-h-[200vh] flex flex-col items-center gap-16">
		<header id="site-header">
			<h1>llume.</h1>
			<nav>
				<a class="nav-item" href="#">About Me</a>
				<a class="nav-item" href="#">Blog</a>
				<a class="nav-item" href="#">Contact</a>
			</nav>
		</header>
		<main class="w-full max-w-screen-lg">
			<article class="h-screen bg-red-300 pt-16 w-full flex flex-col justify-center">
				<div>
					<h1 class="md:max-w-[75%]">We help businesses eliminate repetitive, tedious tasks</h1>
				</div>
			</article>
			<hr class="h-[2px] bg-gray-700" />
			<article class="h-screen bg-purple-300  w-full">123</article>
		</main>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		html {
		}

		body {
		}

		header#site-header {
			@apply fixed top-0 w-full max-w-screen-lg h-16 px-8 flex justify-between items-center bg-gray-200 transition-all duration-700;

			&.wide {
				@apply max-w-screen-2xl bg-transparent;
			}
		}

		h1 {
			@apply text-4xl;
		}

		h2 {
		}

		a {
		}
	}
</style>

<script>
	window.onscroll = function () {
		onScroll();
	};

	const header = document.getElementById("site-header");
	const siteHeaderScrollClass = "wide";

	function onScroll() {
		const hasScrolled = document.documentElement.scrollTop > 0;
		if (hasScrolled) {
			header?.classList.add(siteHeaderScrollClass);
		} else {
			header?.classList.remove(siteHeaderScrollClass);
		}

		console.log("hassc", hasScrolled);
	}
</script>
