---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Form from "../components/Form.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>llume - let's automate the boring stuff</title>
	</head>
	<body class="w-full min-h-[200vh] flex flex-col items-center gap-16">
		<!-- <div class="absolute inset-0 -z-10 bg-gradient-to-r from-white via-blue-500 "></div> -->
		<header id="site-header">
			<a href="/"><h1>llume.</h1></a>
			<nav>
				<a class="nav-item" href="#contact">Contact</a>
			</nav>
		</header>
		<main class="w-full max-w-screen-lg px-4">
			<article>
				<section>
					<h3>We're llume, a software services company</h3>
					<h1>We help businesses write custom software to eliminate repetitive, boring tasks</h1>
					<div class="flex gap-4">
						<a class="button" href="#contact">Let's chat</a>
						<a class="button" href="#scenarios">See how we can help</a>
					</div>
				</section>
				<LottieAnimation src="./Animation - 1731594218293.json" autoplay="visible" />
			</article>

			<hr class="h-[1px] bg-gray-300" />

			<article id="scenarios">
				<section>
					<h3>Scenarios</h3>
					<h2>See our services in action</h2>
					<p>
						A curated list of scenarios where automation is used to decrease errors, increase profit and make customers
						delighted to create resilient businesses.
					</p>
				</section>
				<LottieAnimation src="./Animation - 1731944285877.json" autoplay="visible" />
			</article>
			<div class="w-full grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-28">
				<a class="w-full bg-slate-900 aspect-video text-white flex items-center justify-center" href="/manufacturing">Manufacturing</a>
				<a class="w-full bg-slate-900 aspect-video"></a>
				<a class="w-full bg-slate-900 aspect-video"></a>
			</div>

			<hr class="h-[1px] bg-gray-300" />

			<article class="min-h-screen w-full" id="contact">
				<section>
					<h3>Contact us</h3>
					<h2>How can we help?</h2>
				</section>
				<section>
					<Form />
				</section>
			</article>
		</main>

		<footer class="w-full bg-gray-200 flex justify-center">
			<div class="max-w-screen-lg w-full grid grid-cols-2 lg:grid-cols-6 gap-x-6 gap-y-20 py-8 px-4">
				<h1 class="col-span-2">llume</h1>
				<section class="flex flex-col gap-4 col-span-2">
					<h4>Services</h4>
					<ul>
						<li>Business process optimisation</li>
						<li>Digital workflow optimisation</li>
						<li>Digital transformation</li>
						<li>E-commerce solutions</li>
					</ul>
				</section>
				<section class="flex flex-col gap-4">
					<h4>Contact</h4>
					<a href="mailto:enquiries@llume.co">hello@llume.co</a>
					<address class="not-italic">
						LLUME SOLUTIONS <br />
						124 City Road <br />
						London <br />
						EC1V 2NX
					</address>
				</section>
				<section class="flex flex-col gap-4">
					<h4>Legal</h4>
					<ul>
						<li>Privacy policy</li>
						<li>EULA</li>
					</ul>
				</section>
			</div>
		</footer>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		html {
		}

		body {
		}

		header#site-header {
			@apply w-full max-w-screen-lg h-20 px-4 flex justify-between items-center bg-slate-200 xl:fixed xl:top-0 xl:transition-all xl:duration-300;

			&.wide {
				@apply max-w-screen-2xl bg-transparent;
			}
		}

		article {
			@apply w-full min-h-[84vh] grid items-center grid-cols-1 md:grid-cols-2 gap-6;

			section {
				@apply flex flex-col items-start gap-8;
			}
		}

		h1 {
			@apply text-4xl;
		}

		h2 {
			@apply text-5xl;
		}

		h3 {
			@apply text-2xl bg-gradient-to-r from-indigo-700 to-indigo-600 inline-block text-transparent bg-clip-text;
		}

		h4 {
			@apply text-base font-medium;
		}

		a {
			@apply cursor-pointer;

			&.button {
				@apply border-2 px-8 py-2;
			}
		}
	}
</style>

<script>
	window.onscroll = function () {
		onScroll();
	};

	const header = document.getElementById("site-header");
	const siteHeaderScrollClass = "wide";

	function onScroll() {
		const hasScrolled = document.documentElement.scrollTop > 0;
		if (hasScrolled) {
			header?.classList.add(siteHeaderScrollClass);
		} else {
			header?.classList.remove(siteHeaderScrollClass);
		}
	}

	// Smooth scroll anchor links
	document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
		anchor.addEventListener("click", (e) => {
			e.preventDefault();
			const anchorId = anchor.getAttribute("href");
			const anchorLink = document.querySelector(anchorId as string);
			anchorLink?.scrollIntoView({ behavior: "smooth" });
		});
	});
</script>
