---
import LottieAnimation from "astro-integration-lottie/Lottie.astro";
import Form from "../components/Form.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>llume - let's automate the boring stuff</title>
	</head>
	<body class="w-full min-h-[200vh] flex flex-col items-center gap-16">
		<header id="site-header">
			<a href="/"><h1>llume.</h1></a>
			<nav>
				<a class="nav-item" href="#contact">Contact</a>
			</nav>
		</header>
		<main class="w-full max-w-screen-lg px-4">
			<slot />
		</main>

		<footer class="w-full bg-gray-200 flex justify-center">
			<div class="max-w-screen-lg w-full grid grid-cols-2 lg:grid-cols-6 gap-x-6 gap-y-20 py-8 px-4">
				<h1 class="col-span-2">llume</h1>
				<section class="flex flex-col gap-4 col-span-2">
					<h4>Services</h4>
					<ul>
						<li>Business process optimisation</li>
						<li>Digital workflow optimisation</li>
						<li>Digital transformation</li>
						<li>E-commerce solutions</li>
					</ul>
				</section>
				<section class="flex flex-col gap-4">
					<h4>Contact</h4>
					<a href="mailto:enquiries@llume.co">hello@llume.co</a>
					<address class="not-italic">
						LLUME SOLUTIONS <br />
						124 City Road <br />
						London <br />
						EC1V 2NX
					</address>
				</section>
				<section class="flex flex-col gap-4">
					<h4>Legal</h4>
					<ul>
						<li>Privacy policy</li>
						<li>EULA</li>
					</ul>
				</section>
			</div>
		</footer>
		<slot />
	</body>
</html>
<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		html {
		}

		body {
		}

		header#site-header {
			@apply w-full max-w-screen-lg h-20 px-4 flex justify-between items-center bg-slate-200 xl:fixed xl:top-0 xl:transition-all xl:duration-300;

			&.wide {
				@apply max-w-screen-2xl bg-transparent;
			}
		}

		article {
			@apply w-full min-h-[84vh] grid items-center grid-cols-1 md:grid-cols-2 gap-6;

			section {
				@apply flex flex-col items-start gap-8;
			}
		}

		h1 {
			@apply text-4xl;
		}

		h2 {
			@apply text-5xl;
		}

		h3 {
			@apply text-2xl bg-gradient-to-r from-indigo-700 to-indigo-600 inline-block text-transparent bg-clip-text;
		}

		h4 {
			@apply text-base font-medium;
		}

		a {
			@apply cursor-pointer;

			&.button {
				@apply border-2 px-8 py-2;
			}
		}
	}
</style>

<script>
	window.onscroll = function () {
		onScroll();
	};

	const header = document.getElementById("site-header");
	const siteHeaderScrollClass = "wide";

	function onScroll() {
		const hasScrolled = document.documentElement.scrollTop > 0;
		if (hasScrolled) {
			header?.classList.add(siteHeaderScrollClass);
		} else {
			header?.classList.remove(siteHeaderScrollClass);
		}
	}
</script>
