---
import heroVid from "../assets/llume-hero-1920x1080-1200kbps.mp4";
import Card from "../components/Card.astro";
import Form from "../components/Form.astro";
import VideoCard from "../components/VideoCard.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>llume - let's make it real(time)</title>
	</head>
	<body class="w-full min-h-[200vh] flex flex-col items-center gap-16">
		<header id="site-header">
			<a href="/">llume.</a>
			<nav class="flex gap-4">
				<a class="nav-item" href="/blog">Blog</a>
				<a class="nav-item" href="#contact">Contact</a>
			</nav>
		</header>
		<main class="w-full max-w-screen-lg px-4">
			<article class="min-h-[min(80vh,800px)] py-24 flex flex-col gap-8">
				<section class="flex flex-col gap-1">
					<p class="text-4xl">
						We're a London-based creative agency<br />
						that creates <span class="inline-gradient from-pink-600 to-indigo-400"> digital experiences</span><br />
						for <span class="inline-gradient from-pink-600 to-indigo-400">live events and gatherings.</span>
					</p>
				</section>
				<div class="flex gap-4">
					<a class="button" href="#contact">Let's chat</a>
				</div>
				<VideoCard videoSrc={heroVid} />
			</article>

			<hr class="h-[1px] bg-gray-300" />

			<article class="py-24">
				<h1 class="mb-12"><span class="inline-gradient from-indigo-600 to-pink-400">Our process</span></h1>
				<div class="flex flex-col gap-52">
					<section class="grid md:grid-cols-[1fr,1.4fr] gap-12">
						<div class="flex flex-col gap-2">
							<h2 class="mb-4">1. Start with a chat</h2>
							<p>Our services revolve around unique opportunities to extend your brand to make lasting impressions</p>
							<p>Something something</p>
						</div>
						<div class="w-full h-52 bg-gray-500"></div>
					</section>
					<section class="grid md:grid-cols-[1.4fr,1fr] gap-12">
						<div class="w-full h-52 bg-gray-500"></div>
						<div>
							<h1 class="mb-4">Virtual training</h1>
							<p>Something something</p>
							<p>Something something</p>
						</div>
					</section>
				</div>
				<!-- <section
					class="bg-gray-500 w-full p-12 rounded-lg bg-gradient-to-tr from-cyan-100 to-pink-100 flex flex-col gap-6"
				>
					<section class="grid md:grid-cols-3 gap-4 justify-center">
						<Card />
						<Card />
						<Card />
					</section>
				</section> -->
			</article>
			<hr class="h-[1px] bg-gray-300" />

			<article class="min-h-screen w-full grid md:grid-cols-2 items-center" id="contact">
				<section>
					<h3>Contact us</h3>
					<h2>How can we help?</h2>
				</section>
				<section>
					<Form />
				</section>
			</article>
		</main>
	</body>
	<footer class="w-full bg-gray-200 flex justify-center">
		<div class="max-w-screen-lg w-full grid grid-cols-2 lg:grid-cols-6 gap-x-6 gap-y-20 py-8 px-4">
			<h1 class="col-span-2">llume</h1>
			<section class="flex flex-col gap-4 col-span-2">
				<h4>Services</h4>
				<ul>
					<li>Business process optimisation</li>
					<li>Digital workflow optimisation</li>
					<li>Digital transformation</li>
					<li>E-commerce solutions</li>
				</ul>
			</section>
			<section class="flex flex-col gap-4">
				<h4>Contact</h4>
				<a href="mailto:enquiries@llume.co">hello@llume.co</a>
				<address class="not-italic">
					LLUME SOLUTIONS <br />
					124 City Road <br />
					London <br />
					EC1V 2NX
				</address>
			</section>
			<section class="flex flex-col gap-4">
				<h4>Legal</h4>
				<ul>
					<li>Privacy policy</li>
					<li>EULA</li>
				</ul>
			</section>
		</div>
	</footer>
</html>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;

	@layer base {
		html {
		}

		.inline-gradient {
			@apply text-transparent bg-clip-text bg-gradient-to-r;
		}

		body {
		}

		header#site-header {
			@apply w-full max-w-screen-lg h-24 px-4 border-b-[1px] flex justify-between items-center xl:sticky xl:top-0 xl:transition-all xl:duration-300;

			&.wide {
				@apply xl:max-w-screen-2xl xl:border-b-transparent;
			}
		}

		h1 {
			@apply text-4xl;
		}

		h2 {
			@apply text-2xl;
		}

		h4 {
			@apply text-base font-medium;
		}

		a {
			@apply cursor-pointer;

			&.button {
				@apply px-8 py-2 rounded-md bg-gradient-to-r from-indigo-500 to-indigo-600 text-white hover:from-indigo-700 hover:to-indigo-800;
			}
		}
	}
</style>

<script>
	window.onscroll = function () {
		onScroll();
	};

	const header = document.getElementById("site-header");
	const siteHeaderScrollClass = "wide";

	function onScroll() {
		const hasScrolled = document.documentElement.scrollTop > 0;
		if (hasScrolled) {
			header?.classList.add(siteHeaderScrollClass);
		} else {
			header?.classList.remove(siteHeaderScrollClass);
		}
	}
</script>
