<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>LLUME, 3D Web Specialists</title>
	</head>
	<body>
		<nav></nav>
		<main>
			<section class="bg-gradient-to-b from-[#FBECEC] to-[#6a6a6a]">
				<div class="container">
					<article class="pt-24 pb-6 flex flex-col gap-6 text-center h-svh">
						<div class="flex flex-col place-items-center gap-8">
							<h1>We're LLUME, the 3D web specialists</h1>
							<p>We design and build 3D product configurators, virtual showrooms and interactive experiences</p>
							<div class="flex gap-4">
								<button class="bg-gray-900 text-white py-2 px-8 rounded-full">Book a call</button>
								<button class="border-2 border-pink-600 p7-2 px-8 rounded-full text-pink-700">View work</button>
							</div>
						</div>
						<div class="flex-1 bg-black rounded-lg">123</div>
					</article>
				</div>
			</section>
			<section>
				<div class="container">
					<article class="mt-20">
						<h1 class="mb-12 tracking-wider">OUR PHILOSOPHY</h1>
						<div class="flex flex-col gap-8 tracking-wide">
							<p>We create captivating 3D experiences that anyone can dive in to by just tapping on a link.</p>
							<p>
								No downloads. No installations. Just pure, jaw-dropping magic, instantly accessible in your browser.
							</p>
							<p>
								That's the power of WebGL - video game-level fidelity in a browser. From smartphones to desktop to
								immersive headset.
							</p>
							<p>
								But if your developers are inexperienced, they run the chance of creating an unmaintainable, slow mess.
								It might even crash when you need it to run most, like in front of 100s of CEOs at a tech conference*
							</p>
							<p>
								Or you'll end up with uncanny valley, where a lack of expertise in 3D rendering, animation and art
								direction makes objects and characters look eerily off. The ultimate turn-off.
							</p>
							<p>
								That's why we focus 100% on 3D web dev and design. Because that's the only way to achieve unmatched
								mastery in this discipline.
							</p>
						</div>
					</article>
				</div>
			</section>
			<section>
				<div class="container">
					<article class="mt-24">
						<h1 class="mb-12">OUR WORK</h1>
						<div class="grid grid-cols-1 md:grid-cols-2 gap-8">
							<div>
								<div class="w-full aspect-[5/3] bg-gray-300 rounded-md"></div>
								<h2>Lorem</h2>
							</div>
						</div>
					</article>
				</div>
			</section>
		</main>
		<footer class="h-52 bg-gray-200 mt-12"></footer>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

	h1 {
		@apply text-4xl;
	}

	.container {
		max-width: 1200px;
		margin: 0 auto;
		padding: 0 1rem;
	}
</style>
